.about_container {
    text-align: center;
    min-height: 80vh;
}

.images_container {
    max-height: 15rem;
    overflow: hidden;
}

.images_container img {
    max-height: 15rem;
    width: 100%;
    object-fit: cover;
}

.info_container {
    height: 100%;
    padding: 1em;
    display: grid;
    gap: 1em;
}