header {
    background-color: var(--clr-Mountbatten-pink);
    padding: 1em;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_nav {
    position: fixed;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    padding: 5em 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--clr-zomp);
    transition: var(--transition-two);
}

.header_link {
    color: var(--clr-white);
}

.home_link {
    height: 2rem;
    width: 2rem;
}

.hamburger_container {
    position: relative;
    z-index: 5;
    height: 3rem;
    width: 3rem;
    background-color: var(--clr-zomp);
    border-radius: .3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.patty {
    width: 80%;
    height: .3rem;
    background-color: var(--clr-white);
    border-radius: .3rem;
}

.login_logout-link {
    border: none;
    padding: .3em .5em;
    background-color: var(--clr-airforce-blue);
    font-family: var(--ff-sub-title);
    color: var(--clr-white);
    font-weight: bold;
}